<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <ng-form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [formControl]="usernameFormControl">
          <mat-error *ngIf="usernameFormControl.errors">
            <mat-icon> warning </mat-icon> Invalid username, minimum length (6) </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.errors">
            <mat-icon> warning </mat-icon> Invalid email </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Password" [formControl]="passwordFormControl">
          <mat-error *ngIf="passwordFormControl.errors">
            <mat-icon> warning </mat-icon> Invalid password, minimum length (6) </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button [disabled]="isFormInvalid()" (click)="onLogin()" color="accent" class="btn-block">Log in</button>
    </ng-form>
  </mat-card>
</div>
