@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.auth {
  &-layout {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-reset-password-form {
    display: flex;
    flex-direction: column;
  }
}


