<ng-form class="auth-layout">
  <div class="auth-reset-password-form">
    <mat-form-field>
      <input matInput placeholder="Insert email" [formControl]="emailFormControl">
      <mat-error *ngIf="emailFormControl.errors">
        <mat-icon> warning</mat-icon>
        Invalid email
      </mat-error>
    </mat-form-field>

    <button mat-stroked-button [disabled]="emailFormControl.invalid" (click)="onForgotPasswordSubmit($event)"
            color="accent" class="btn-block">Send reset password Email
    </button>
    <button mat-stroked-button (click)="goBack()" color="accent" class="btn-block">Back</button>
  </div>
</ng-form>
