<ng-form class="post-form">
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <input matInput [formControl]="subjectFormControl" type="text" placeholder="Post subject">
  </mat-form-field>

  <mat-form-field>
    <mat-label >Message</mat-label>
    <input matInput [formControl]="messageFormControl" placeholder="Post message">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Recipients</mat-label>
    <input matInput [formControl]="recipientFormControl" placeholder="Post recipient">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Coach name</mat-label>
    <input matInput [formControl]="coachFormControl" placeholder="Coach name">
  </mat-form-field>

    <button mat-icon-button [disabled]="isFormNotFilled()" (click)="onSubmitPost()">
      <mat-icon>search</mat-icon>
    </button>
</ng-form>
