
table {
  width: 100%;
}

.profile-card {
  max-width: 500px;
}

.profile-header-image {
  background-size: cover;
}

.app-search-container {
  display: flex;
  justify-content: center;
}

.app-search-select-team {
  margin-left: 50px;
}

.app-search-buttons {
  margin-left: 20px;
  margin-top: 10px;
}

