<mat-checkbox
  (change)=onChangeMode($event)
  [checked]=isCustomMode()
  class="app-custom-recipients">
  Custom Selection Mode
</mat-checkbox>

Select ways to notify
<br>
<mat-checkbox
  (change)=onChangeEmailMode($event)
  [checked]=emailEnabled>
  Email
</mat-checkbox>
<br>
<mat-checkbox
  (change)=onChangeWhatsAppMode($event)
  [checked]=whatsAppEnabled>
  WhatsApp
</mat-checkbox>

<ng-form class="send-form">
  <mat-form-field class="send-field">
    <mat-label>Subject</mat-label>
    <input matInput [formControl]="subjectFormControl" type="text" placeholder="Post subject">
  </mat-form-field>

  <mat-form-field class="send-field">
    <mat-label>Message</mat-label>
    <input matInput [formControl]="messageFormControl" placeholder="Post message">
  </mat-form-field>

  <button mat-icon-button class="send-field" [disabled]="isFormNotFilled()" (click)="onSubmitPost()">
    <mat-icon>send</mat-icon>
    Send Message
  </button>
</ng-form>

<ng-form class="search-form">
  <mat-form-field class="search-field">
    <mat-label>Select team</mat-label>
    <mat-select [formControl]="teamFormControl">
      <mat-option (click)="onTeamSelection($event)" *ngFor="let team of teams" [value]="team.name">
        {{team.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="mode === 'standard'" class="search-field">
    <mat-label>Select team age range</mat-label>
    <mat-select [formControl]="teamRangeFormControl">
      <mat-option (click)="onAgeRangeSelection(teamRange)" *ngFor="let teamRange of teamRanges" [value]="teamRange">
        {{'K' + teamRange}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
  <button mat-icon-button
          [disabled]="isSearchDisabled()"
          (click)="onSearch()"
          class="search-button">
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button
          (click)="onResetSearch()"
          class="search-button">
    <mat-icon>cancel</mat-icon>
  </button>
  </div>
</ng-form>

<table mat-table [dataSource]="players" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="photoURL">
    <th mat-header-cell *matHeaderCellDef> Picture</th>
    <mat-card>
      <td mat-cell *matCellDef="let element">
        <img mat-card-avatar [src]="element.photoURL" class="profile-header-image">
      </td>
    </mat-card>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="surname">
    <th mat-header-cell *matHeaderCellDef> Surname</th>
    <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Date of birth</th>
    <td mat-cell *matCellDef="let element"> {{element.age | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Number</th>
    <td mat-cell *matCellDef="let element"> {{element.telephoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="team">
    <th mat-header-cell *matHeaderCellDef> Team</th>
    <td mat-cell *matCellDef="let element"> {{element.team}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
