<h1 mat-dialog-title>Add Player</h1>
<div mat-dialog-content class="dialog-content">
  <p>Player details</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput
           [formControl]="nameFormControl">
    <mat-error *ngIf="nameFormControl.errors">
      <mat-icon> warning</mat-icon>
      Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Surname</mat-label>
    <input matInput
           [formControl]="surnameFormControl">
    <mat-error *ngIf="surnameFormControl.errors">
      <mat-icon> warning</mat-icon>
      Surname is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput
    [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email')">
      <mat-icon> warning</mat-icon>
      Invalid email
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      <mat-icon> warning</mat-icon>
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Choose date of birth</mat-label>
    <input matInput [matDatepicker]="picker"
           [formControl]="dateFormControl"
           (dateChange)="onDateSelect()">
    <mat-error *ngIf="dateFormControl.errors">
      <mat-icon> warning</mat-icon>
      Date of birth is required
    </mat-error>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select team</mat-label>
    <mat-select [formControl]="teamFormControl">
      <mat-option (click)="onTeamSelection($event)" *ngFor="let team of data.teams" [value]="team.name">
        {{team.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="teamFormControl.errors">
      <mat-icon> warning</mat-icon>
      Team selection is required
    </mat-error>
  </mat-form-field>

    <label for="file">Upload picture</label>
    <input type="file"
           id="file"
           (change)="onUploadPicture($event)">
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial
          [mat-dialog-close]="data"
          [disabled]="isAdditionInvalid() || isLoading">Add</button>
  <button mat-button [mat-dialog-close]="null" cdkFocusInitial>Cancel</button>
</div>
