<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name">Connect Panserraikos</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>

        <mat-list-item [routerLink]="'/profile'" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
          </button>
          Profile
        </mat-list-item>

        <mat-list-item (click)="navigateToTeams()" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>group_work</mat-icon>
          </button>
          Application
        </mat-list-item>

        <mat-list-item (click)="navigateToManage()" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>tune</mat-icon>
          </button>
          Manage Teams/Players
        </mat-list-item>

        <mat-list-item (click)="navigateToHistory()" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>history</mat-icon>
          </button>
          History
        </mat-list-item>

        <mat-list-item (click)="logout()" routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button>
          Logout
        </mat-list-item>

      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>


